# course keynotes
*.key

# course slides
arrayFunctions.pdf

# Jupyter checkpoints
.ipynb_checkpoints/

# exercises
student_exercises/corrections/basics/affichageNombres/
student_exercises/corrections/basics/divers/
student_exercises/corrections/basics/maths/
student_exercises/corrections/basics/strings/


student_exercises/corrections/advanced/
student_exercises/corrections/DOM/
student_exercises/implementations/advanced/
student_exercises/implementations/DOM/

# OSX file
.DS_Store